* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

@font-face {
  font-family: "Karla";
  src: url("./fonts/Karla-VariableFont_wght.ttf");
}

body {
  width: 100%;
  height: 100vh;
}

.App {
  width: 100%;
  min-height: 100vh;
}

.start-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f7fb;
  background-image: url("./images/blob-top.png"),
    url("./images/blob-bottom.png");
  background-size: clamp(100px, 250px, 25%);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
}

.start-screen-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #293264;
}

.start-screen-description {
  width: 100%;
  max-width: 600px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #293264;
  padding: 16px 25px 40px 25px;
}

.start-screen-start-quiz-button,
.submit-quiz,
.reset-quiz {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: #4d5b9e;
  border-radius: 15px;
  color: #f5f7fb;
  width: 192px;
  height: 52px;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 25px 1px rgba(0, 0, 0, 0.25);
  outline: 0;
  transition: 0.3s linear;
}

.start-screen-start-quiz-button:active {
  transform: scale(0.85);
  box-shadow: 3px 2px 25px 1px rgba(0, 0, 0, 0.25);
}

.quiz {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 20px 10%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background: #f5f7fb;
  background-image: url("./images/blob-top.png"),
    url("./images/blob-bottom.png");
  background-size: clamp(50px, 150px, 25%);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  background-attachment: fixed;
}

.question-container {
  width: 100%;
  padding: 20px;
  border-bottom: 0.8px solid #dbdef0;
  transform: rotate(-0.05deg);
}

.question {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #293264;
}

.loading {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #293264;
}

.answers-container {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.answer {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  color: #293264;
  border-radius: 25px;
  padding: 4px 16px;
  border: solid 1px #293264;
  margin-right: 16px;
}

.answer:hover {
  cursor: pointer;
  background: #ffffff;
}

.submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.submit-quiz {
  width: 120px;
  height: 40px;
  display: block;
  font-size: 16px;
  margin: 24px auto 20px auto;
}

.score {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  color: #293264;
  margin-top: 40px;
}

.attempt-all {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  color: #e94c4c;
  margin-top: 40px;
}

.reset-quiz {
  width: 120px;
  height: 40px;
  display: block;
  margin: 24px auto 20px auto;
  font-size: 16px;
}

.submit-quiz:hover .reset-quiz:hover {
  background: #293264;
}

.submit-quiz:active {
  box-shadow: 3px 2px 25px 1px rgba(0, 0, 0, 0.25);
}

.quiz-title {
  width: 100%;
  margin: 16px auto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #293264;
}

@media screen and (max-width: 600px) {
  .answers-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .quiz {
    padding: 20px 8px;
  }

  .answer {
    margin: 8px;
  }
}
